<div class="mb-20 mt-24 pt-4">
    <div class="post-content">
        {{ post.content }}
    </div>

    <book-slideshow items-str='{{ images|json_encode|striptags|escape }}'>
    </book-slideshow>
</div>
