<!doctype html>

<html class="no-js" {{site.language_attributes}}>

  {% include 'header/_head.twig' %}

  <body>
    <div id="app">
      <nav-bar items-str='{{ menu.items|json_encode() }}'></nav-bar>

      <div class="relative">

        {% block content %}

          {{ messages.base.no_content }}

        {% endblock %}

      </div>
	  </div>

	  {{ function('wp_footer') }}
	</body>
</html>
