<!doctype html>

<html class="no-js" {{site.language_attributes}}>

  {% include 'header/_head.twig' %}

  <body>
    <nav
      data-react="NavBar"
      class="fixed top-0 left-0 ml-2 lg:ml-8 mt-2 lg:mt-6"
      style="z-index: 100;"
    >
    </nav>

    <div class="relative">

      {% block content %}

        {{ messages.base.no_content }}

      {% endblock %}

    </div>

	  {{ function('wp_footer') }}
	</body>
</html>
