{% extends "base.twig" %}

{% block content %}

    {% include 'pages/insights/index.twig' %}

    {# {% set flex_blocks = flexblock %}

    {% if flex_blocks %}

        <div class="mt-5 mb-0 mb-lg-0 mt-lg-5">
            {% include 'blocks/flex-content.twig' with flex_blocks %}
        </div>

    {% endif %} #}

{% endblock %}
