{% extends "base.twig" %}

{% block content %}

  <div class="container offset more">

    <div>
      {% include 'pages/insights/single/intro.twig' %}
    </div>

    {% set flex_blocks = flexblock %}

    {% if flex_blocks %}

        <div>
            {% include 'blocks/flex-content.twig' with flex_blocks %}
        </div>

    {% endif %}

    {% include 'pages/insights/single/outro.twig' %}

  </div>

{% endblock %}
