<div class="w-full h-full flex justify-center items-center">
    contact
</div>

<div class="pb-16 lg:pb-24 bg-paperback">
    <div class="w-full">
        <contact-form
            page-id="{{ post.id }}"
            class="pb-40 lg:pb-10 mb-0"
        >
        </contact-form>
    </div>
</div>
