<div class="bkg-gradient pb-24 lg:mt-24">
    <div class="sticky top-0 left-0 anchor-offset">
        <anchor-links class="hidden lg:flex flex-col items-center absolute left-0 top-0 pt-24 w-24 sans-bold">
            <a
                href="#bellweather-method"
                class="mr-2 pt-10 uppercase flex flex-col items-center"
                style="height:350px;"
                data-sal="slide-down"
                data-sal-duration="800"
                data-sal-delay="800"
                v-smooth-scroll
            >
                <span class="transform -rotate-90 mb-32 text-sm text-center whitespace-no-wrap tracking-widest">
                    The Bellweather Method ©
                </span>
                {% include 'components/objects/anchor-link-arrow.twig' %}
            </a>
        </anchor-links>
    </div>

    <div class="container offset overflow-x-hidden">
        {% include 'components/page_title.twig' with { color_lg: 'black' } %}

        <div class="hero flex flex-col lg:flex-row justify-between mb-4 lg:mb-32">
            <div class="mb-10 lg:mb-0 w-full lg:w-4/5">
                <h1 class="text-3xl lg:text-6xl splitMeByWord">
                    Bellweather puts your audience at the center of our creative process.
                </h1>
            </div>
        </div>
    </div>
    
    <div class="container offset">

        <div class="row">
            <div id="bellweather-method" class="col col-12 mb-4 lg:mb-16">
                <div class="hidden lg:flex flex-row justify-center mt-2 mb-8 lg:mb-4 w-full lg:w-1/3 mx-auto" data-sal="slide-up" data-sal-delay="800" data-sal-duration="800">
                    <svg
                        class="mb-4"
                        width="515" height="41" viewBox="0 0 515 41" fill="none" xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M0.124414 0.799998V8.3H4.97441V40H13.3744V8.3H18.2244V0.799998H0.124414ZM21.3357 0.799998V40H29.7357V21.75H33.9857V40H42.3857V0.799998H33.9857V14.25H29.7357V0.799998H21.3357ZM46.5857 0.799998V40H63.4357V32.5H54.9857V22.1H63.4357V14.6H54.9857V8.3H63.4357V0.799998H46.5857ZM79.6354 0.799998V40H88.8354C100.135 40 100.835 34.8 100.835 27.2C100.835 20.55 100.285 20.35 97.5854 18.35C99.5854 17.4 100.835 16.55 100.835 11.4C100.835 4.8 99.7354 0.799998 88.7854 0.799998H79.6354ZM88.0354 8.3H89.0854C91.9854 8.3 92.4354 8.6 92.4354 11.5C92.4354 14.3 92.0354 14.65 89.0854 14.65H88.0354V8.3ZM88.0354 21.65H88.8354C91.9854 21.65 92.4354 22.1 92.4354 27.2C92.4354 32.1 91.9854 32.5 88.8854 32.5H88.0354V21.65ZM104.935 0.799998V40H121.785V32.5H113.335V22.1H121.785V14.6H113.335V8.3H121.785V0.799998H104.935ZM126.124 0.799998V40H142.274V32.5H134.524V0.799998H126.124ZM146.486 0.799998V40H162.636V32.5H154.886V0.799998H146.486ZM163.564 0.799998L168.514 40H177.414L179.914 19.4H180.014L182.564 40H191.464L196.414 0.799998H188.164L185.864 20.95H185.764L183.364 0.799998H176.614L174.264 20.95H174.164L171.814 0.799998H163.564ZM200.248 0.799998V40H217.098V32.5H208.648V22.1H217.098V14.6H208.648V8.3H217.098V0.799998H200.248ZM225.637 0.799998L220.687 40H228.937L229.487 34.4H234.187L234.737 40H242.987L238.037 0.799998H225.637ZM231.787 11.85H231.887L233.437 26.9H230.287L231.787 11.85ZM242.654 0.799998V8.3H247.504V40H255.904V8.3H260.754V0.799998H242.654ZM263.865 0.799998V40H272.265V21.75H276.515V40H284.915V0.799998H276.515V14.25H272.265V0.799998H263.865ZM289.115 0.799998V40H305.965V32.5H297.515V22.1H305.965V14.6H297.515V8.3H305.965V0.799998H289.115ZM310.104 0.799998V40H318.504V21.8H319.004C321.904 21.85 322.254 22.7 322.254 26.95V40H330.654V27.5C330.654 21.65 330.054 21.15 328.054 19.35C329.704 18.4 331.304 17.55 331.304 11.4C331.304 4.85 330.204 0.799998 319.354 0.799998H310.104ZM318.504 8.3H319.754C322.554 8.3 322.904 8.8 322.904 11.5C322.904 14.45 322.454 14.8 319.604 14.8H318.504V8.3ZM347.215 0.799998V40H355.615V14.8H355.715L360.365 40H367.165L371.815 14.8H371.915V40H380.315V0.799998H368.215L363.815 19.95H363.715L359.315 0.799998H347.215ZM384.525 0.799998V40H401.375V32.5H392.925V22.1H401.375V14.6H392.925V8.3H401.375V0.799998H384.525ZM404.714 0.799998V8.3H409.564V40H417.964V8.3H422.814V0.799998H404.714ZM425.926 0.799998V40H434.326V21.75H438.576V40H446.976V0.799998H438.576V14.25H434.326V0.799998H425.926ZM450.826 13.45V27.3C450.826 36.8 454.176 40.5 461.476 40.5C468.676 40.5 472.126 36.85 472.126 27.3V13.5C472.126 4 468.776 0.299999 461.476 0.299999C454.276 0.299999 450.826 3.9 450.826 13.45ZM461.476 7.8C463.376 7.8 463.726 9.5 463.726 12.95V27.85C463.726 31.15 463.426 33 461.476 33C459.526 33 459.226 31.15 459.226 27.85V12.95C459.226 9.75 459.526 7.8 461.476 7.8ZM475.876 0.799998V40H484.576C494.126 40 497.076 35 497.076 26.8V13.95C497.076 5.85 494.276 0.799998 485.026 0.799998H475.876ZM484.276 8.3C488.126 8.3 488.676 10.2 488.676 13.65V27.15C488.676 30.6 488.126 32.5 484.276 32.5V8.3Z" fill="url(#paint0_linear)"/>
                        <path d="M503.661 6.862C503.661 9.844 506.041 12.196 508.995 12.196C511.949 12.196 514.343 9.844 514.343 6.862C514.343 3.894 511.949 1.542 508.995 1.542C506.041 1.542 503.661 3.894 503.661 6.862ZM504.011 6.862C504.011 4.062 506.237 1.822 508.995 1.822C511.753 1.822 513.979 4.062 513.979 6.862C513.979 9.662 511.753 11.916 508.995 11.916C506.237 11.916 504.011 9.662 504.011 6.862ZM511.151 7.842L511.067 7.814C510.703 8.766 510.129 9.564 508.995 9.564C507.609 9.564 506.951 8.416 506.951 6.848C506.951 5.336 507.651 4.174 509.037 4.174C509.989 4.174 510.563 4.72 511.053 5.616L511.123 5.588L510.969 4.314C510.591 4.16 509.877 3.936 509.135 3.936C507.357 3.936 506.251 5.224 506.251 6.848C506.251 8.486 507.259 9.802 508.995 9.802C509.919 9.802 510.703 9.424 510.997 9.214L511.151 7.842Z" fill="url(#paint1_linear)"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="-598.94" y1="-79.3472" x2="-366.413" y2="543.692" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4F0000"/>
                        <stop offset="1" stop-color="#FF5C00"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="496.679" y1="-9.60183" x2="522.812" y2="-3.33398" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4F0000"/>
                        <stop offset="1" stop-color="#FF5C00"/>
                        </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="flex justify-center">
                    <p class="w-full lg:w-2/3" data-sal="fade" data-sal-delay="1000" data-sal-duration="800">
                        {{ post.post_content }}
                    </p>
                </div>
                <div class="hidden lg:flex justify-between" data-sal="fade" style="--sal-delay: 0s;" data-sal-duration="800">
                    {% include "components/method_circles.twig" %}
                </div>
            </div>

            <div class="col col-12">
                <div class="flex flex-col mr-2 ml-2 lg:mr-10 lg:ml-40">
                    <lottie-animation
                        class="lottie lg:hidden mb-10"
                        path="process_vertical"
                        when-visible
                    >
                        <template v-slot:fallback>
                            <img
                                src="{{ Image(post.method_steps_image).src }}"
                                alt="Method Steps"
                                class="lazyload mb-20"
                            />
                        </template>
                    </lottie-animation>
                </div>
            </div>

            <div class="col col-12">
                <div class="hidden w-full lg:flex flex-wrap justify-between -mx-4 mb-24">
                    {% for item in post.meta('method_steps') %}
                        {% set method_step = item %}
                        <div data-sal="slide-up" data-sal-delay="{{ loop.index is odd ? 100 : 300 }}" data-sal-duration="800" class="w-full lg:w-1/2">
                            {% include 'pages/process/method_step.twig' %}
                        </div>
                    {% endfor %}
                </div>

                <div class="lg:hidden overflow-x-hidden" data-sal="fade-in" data-sal-duration="800" style="--sal-delay: 0s;">
                    <twig-carousel>
                        {% for item in post.meta('method_steps') %}
                            {% set method_step = item %}
                            <slide>
                                {% include 'pages/process/method_step.twig' %}
                            </slide>
                        {% endfor %}
                    </twig-carousel>
                </div>
            </div>
        </div>

        {% set flex_blocks = flexblock %}

        {% if flex_blocks %}

            {% include 'blocks/flex-content.twig' with flex_blocks %}

        {% endif %}

    </div>
</div>
