// #team a {
//     color: $brand-alt;
// }

.team-member {
    .team-member-image-container {
        background: linear-gradient(154.81deg, #958F86 11.89%, #464440 88.23%);
    }
    .team-member-image-container, img {
        width: 100%;
        height: 300px;

        @media(min-width: $lg) {
            height: 350px;
        }
    }
}
