.coming-soon, .case-study-tagline-overlay {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}

.live-insight {
    img, .case-study-title hr, .insight-title hr, .case-study-tagline-overlay {
        transition: .35s;
    }

    img {
        transform: scale(1.01);
        height: 300px;
        @media (min-width: 1280px) {
            transform: scale(1.01);
            height: auto;
        }
    }

    .case-study-title hr, .insight-title hr {
        border: none;
        height: 2px;
        width: 0;
    }

    .case-study-tagline-overlay {
        top: 400px;
        @media (min-width: $sm) {
            top: 500px;
        }
        @media (min-width: $lg) {
            top: 700px;
        }
    }

    &:hover {
        img {
            transform: scale(1.05);
            @media (min-width: 1280px) {
                transform: scale(1.05);
                height: auto;
            }
        }

        .case-study-title hr, .insight-title hr {
            width: 100%;
        }

        .case-study-tagline-overlay {
            top: 0px;
        }
    }
}


.live-case-study {
    img, .case-study-title hr, .insight-title hr, .case-study-tagline-overlay {
        transition: .35s;
    }

    img {
        transform: scale(1.05);
    }

    .case-study-title hr, .insight-title hr {
        border: none;
        height: 2px;
        width: 0;
    }

    .case-study-tagline-overlay {
        top: 400px;
        @media (min-width: $sm) {
            top: 500px;
        }
        @media (min-width: $lg) {
            top: 700px;
        }
    }

    &:hover {
        img {
            transform: scale(1.15);
        }

        .case-study-title hr, .insight-title hr {
            width: 100%;
        }

        .case-study-tagline-overlay {
            top: 0px;
        }
    }
}

.cs-height {
    height: 250px;
    @media (min-width: $sm) {
        height: 350px;
    }
    @media (min-width: $lg) {
        height: 450px;
    }
    @media (min-width: $xl) {
        height: 522px;
    }
}

.next-case-study {
    .next-case-study-title {
        line-height: 1.25;
    }

    @media (min-width: $lg) {
        .next-case-study-title {
            line-height: 1.05;
        }

        img, svg {
            transition: .35s;
        }

        img {
            transform: scale(1.05);
        }

        svg {
            position: relative;
            left: 0px;
        }

        &:hover {
            img {
                transform: scale(1.15);
            }

            svg {
                left: 10px;
            }
        }
    }
}

.case-study-see-all {
    width: 275px;

    svg {
        transition: .35s;
        left: 40px;
        opacity: 0;
    }
    
    &:hover {
        svg {
            left: 15px;
            opacity: 1;
        }
    }
}

#our-friends {
    img {
        transition: transform .25s;
        transform: scale(1.01);

        &:hover {
            transform: scale(1.075);
        }
    }
}
