.hero {
  @media (min-width: $lg) {
    height: calc(70% - 6rem);
    padding-top: 20px;
  }
}

.hero-video-title {
  line-height: .9;
  max-width: 1600px;
  @media (min-width: $sm) {
    font-size: 135px;
  }
  @media (min-width: $md) {
    font-size: 175px;
  }
  @media (min-width: $lg) {
    font-size: 280px;
  }
  @media (min-width: $xl) {
    font-size: 320px;
  }
  @media (min-width: $xxl) {
    font-size: 315px;
  }
}

.logo-hero {
  width: 110px;
  height: 110px;
}

#hero-video-overlay {
  background: rgba(0, 0, 0, .1);
}
