.post {
    height: 1000px;
}

.hero-h1 {
    font-size: 65px;
}

// .anchor-offset {
//     margin-left: 0%;// mobile-first
//     @media (min-width: $xxl) {
//         margin-left: 6%; // after lg breakpoint
//     }
// }

h1.our-work, h1.insights-index-title {
    font-size: 80px;
    @media (min-width: $lg) {
        font-size: 120px;
    }
}

.lottie svg {
    height: auto !important;
}