.code-block form {
  margin: 0 auto;
  font-family: $sans;
  table {
    display: flex;
    flex-wrap: wrap;
    tbody {
      display: flex;
      flex-wrap: wrap;
      tr{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        td.sv_api_field_val {
          flex-grow: 1;
        }
        td {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
        }
      }
    }
  }
  [type="checkbox"], [type="radio"] {
    margin-right: 10px;
  }
  #udf_162 {
    display: inline;
    margin-top: 30px;
  }
  label[for="udf_162"] {
    display: inline;
  }
  input[name="inquiry_interest"]{
    display: inline;
    height: 50px;
  }
  label {
    font-family: $sans-medium;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    display: inline-block;
    line-height: 1.15;
    min-width: 67px;
    width: 93%;
  }
  select {
    width: 100%;
    height: 40px;
    &.BW_select {
      width: 100%;
      height: 45px;
      color: black;
      -webkit-appearance: none;
      option {
        text-transform: capitalize;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  input, textarea {
    border: 1px solid #333;
    padding: 5px 10px;
  }
  input[type="text"] {
    width: 100%;
  }
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    background-color: $street-lamp;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=radio] {
      padding-left:5px;
      padding-right:5px;
      border-radius:15px;

      -webkit-appearance:button;

      border: double 2px #00F;

      background-color:#0b0095;
      color:#FFF;
      white-space: nowrap;
      overflow:hidden;

      width:15px;
      height:15px;
  }

  input[type=radio]:checked {
      background-color:#000;
      border-left-color:#06F;
      border-right-color:#06F;
  }

  input[type=radio]:hover {
      box-shadow:0px 0px 10px #1300ff;
  }
  fieldset {
    padding: 1em 1em;
    margin: 1em 0;
  }

  .sv_api_section_head {
    font-family: $sans-alt-upright;
    font-size: 40px;
  }

  legend {
    padding: 0;
    font-weight: bold;
    font-size: 1.2em;
  }

  label {
    // can I use :not here?
    textarea, select, input[type="text"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"], input[type="password"], input[type="color"], input[type="file"], input[type="color"], input[type="number"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"] {
      display: block;
      width: 100%; // good?
    }
  }

  textarea, select, input[type="text"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"], input[type="password"], input[type="color"], input[type="file"], input[type="color"], input[type="number"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"] {
      margin: .2em 0;
      padding: .25em .4em;
      border: 1px solid #ddd;
      max-width: 100%; // ????
  }

  input[type="search"] {
    box-sizing: border-box;
  }

  input[type="file"] {
    border-width: 0;
    padding: 0;
  }


  input[type="image"] {
    vertical-align: bottom;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #78869a;
  }
}
.menu-submit-button,
.footer-submit-button {
  line-height: 48px;
}