<section id="insights-carousel">
    <insights-carousel itemsstr="
        [
            {% for item in TimberPost(post.insights_relationship) %}
                {% set timber_item = TimberPost(item) %}
                {
                    &quot;order&quot;: {{ loop.index }},
                    &quot;title&quot;: &quot;{{ timber_item.short_title }}&quot;,
                    &quot;description&quot;: &quot;{{ timber_item.post_content|split('\n')[0]|striptags|replace({'\n':' ', '\r':' '}) }}&quot;,
                    &quot;image&quot;: &quot;{{ timber_item.amazonS3_cache|keys[0] }}&quot;
                }
                {% if loop.last == false %},{% endif %}
            {% endfor %}
        ]
    ">
    </insights-carousel>
</section>
