<h2 class="text-center mb-16 mt-24 pt-4">
    {{ post.post_title }}
</h2>

<div
    data-react="VideoGallery"
    data-props='{ "id": "{{ post.id }}" }'
>
</div>

<div class="post-content pb-24">
    {{ post.post_content }}
</div>
