<div id="casestudies" class="w-full">

  <h3 class="text-3xl md:text-5xl py-6 md:py-12 serif-header mx-4">
    Featured Case Studies
  </h3>

  <div id="carousel-casestudies" class="carousel">

    <featured-case-studies>
      {% for item in block.case_studies %}

        {% set case_study = TimberPost(item.ID) %}

        <slide>
          <div class="mx-4">
            {% include 'components/case_study_card.twig' with {
                in_development: case_study.in_development_coming_soon,
                title: item.post_title,
                link: case_study.link,
                image: case_study.thumbnail|resize(500, 600),
                tagline: case_study.case_study_tagline,
                work_types: case_study.terms('work-type')
            } %}
          </div>
        </slide>

      {% endfor %}
    </featured-case-studies>

    <div class="w-full flex justify-center mt-12 md:mt-8">
      <site-button url="/case-studies" class="flex">
        <span class="mr-20">See All Case Studies</span>
      </site-button>
    </div>

  </div>

</div>
