<div class="container narrow p-3 p-lg-0">

  <div class="h2 has-text-centered sans-bold is-uppercase has-text-black mb-4">{{ friendstitle }}</div>

    {% set friendspercol = (friendsrepeater|length / 3)|round(0, 'ceil') %}
    <div class="columns m-0" >
    {% for item in friendsrepeater %}

        {% set counter = ( counter | default(0) ) + 50 %}

        {% if friendspercol == 1 or loop.index % friendspercol == 1 %}
        <div class="column p-0 mb-0 mb-lg-5">
            <ul class="has-text-centered serif-bold has-text-black is-size-4">
        {% endif %}

              <li class="mb-2 mb-lg-4" data-sal="slide-up" data-sal-delay="{{counter}}" data-sal-duration="800">{{ item.name }}</li>

        {% if loop.last or loop.index % friendspercol == 0 %}
            </ul>
        </div>
        {% endif %}

    {% endfor %}
    </div>
    <p></br></p>

</div>