<div id="results" class="py-5" data-sal="fade-in" data-sal-duration="800" data-sal-easing="ease-in" style="--sal-delay: 0s;">

    {% if block.title or block.intro %}

    <div class="mb-8 lg:mb-16">

      {% include 'partial/block-title.twig' %}

      {% include 'partial/block-intro.twig' %}

    </div>

    {% endif %}

    {% if block.results_repeater %}

    <ul>
    {% for item in block.results_repeater %}

      {% if item.result %}

        <li>{{ item.result }}</li>

      {% endif %}

    {% endfor %}
    </ul>

    {% endif %}

</div><!-- #quote -->