<div class="pt-24">
    <writing-index items-str='{{ posts|json_encode|striptags }}'>
    </writing-index>

    <div
        data-react="WritingIndex"
        class="w-full lg:h-screen pt-4 pb-32"
    >
    </div>
</div>
