<div class="flex flex-row text-black text-sm whitespace-no-wrap">
    {# remove when privacy policy page has been restored #}
    <span>
        © Bellweather LLC, {{ 'now' | date('Y') }}
    </span>
    {# comment in when privacy policy page has been restored #}
    {# <span class="mr-10">
        © Bellweather LLC, {{ 'now' | date('Y') }}
    </span>
    <a href="/privacy-policy">
        Privacy Policy
    </a> #}
</div>
