<div class="lg:h-screen pt-24">
    <projects-index items-str='{{ projects|json_encode }}'>
    </projects-index>

    <div
        data-react="ProjectsIndex"
        class="w-full h-full"
    >
    </div>
</div>
