<h2 class="text-center mb-6 mt-24 pt-4">
    {{ post.post_title }}
</h2>

<project-gallery items-str='{{ project_gallery|json_encode }}'>
</project-gallery>

<div class="post-content flex flex-col justify-center w-1/2 mx-auto mb-6">
    {{ post.post_content }}
</div>
