<h2 class="text-center mb-6 mt-24 pt-4 text-pine-needle">
    {{ post.post_title }}
</h2>

<project-gallery items-str='{{ project_gallery|json_encode }}'>
</project-gallery>

<div class="post-content pb-24">
    {{ post.post_content }}
</div>
