/* https://github.com/wearethescenery/ether */


.font-family-inherit { font-family: inherit }
.font-size-inherit { font-size: inherit }
.text-decoration-none { text-decoration: none }

.bold    { font-weight: var(--bold-font-weight, bold) }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: var(--caps-letter-spacing); }

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

// .line-height-1 { line-height: var(--line-height-1) }
// .line-height-2 { line-height: var(--line-height-2) }
// .line-height-3 { line-height: var(--line-height-3) }
// .line-height-4 { line-height: var(--line-height-4) }

.list-style-none { list-style: none }



.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}



/* Basscss Type Scale */
.h00 { font-size: 5rem; }
.h0 { font-size: 4rem; }
.h1, h1 { font-size: 2rem; line-height: 1.25 !important; }
.h2, h2 { font-size: 1.65rem; line-height: 1.25 !important; }
.h3, h3 { font-size: 1.35rem; line-height: 1.35 !important; }
.h4, h4 { font-size: 1.25rem; line-height: 1.35 !important; }
.h5, h5 { font-size: 1.15rem; line-height: 1.35 !important; }
.h6, h6 { font-size: 1.1rem; line-height: 1.35 !important; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}


.happy-time {
  font-family: 'HappyTime';
}

.lin-libertine {
  font-family: 'LinLibertine';
}

.nabla {
  font-family: 'Nabla', cursive;
}

.fira-code {
  font-family: 'Fira Code', monospace;
}


@font-face {
  font-family: 'HappyTime';
  src: url('../fonts/HappyTime.eot');
  src: url('../fonts/HappyTime.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HappyTime.svg#HappyTime') format('svg'),
       url('../fonts/HappyTime.ttf') format('truetype'),
       url('../fonts/HappyTime.woff') format('woff'),
       url('../fonts/HappyTime.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LinLibertine';
  src: url('../fonts/LinLibertine.eot');
  src: url('../fonts/LinLibertine.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LinLibertine.svg#LinLibertine') format('svg'),
       url('../fonts/LinLibertine.ttf') format('truetype'),
       url('../fonts/LinLibertine.woff') format('woff'),
       url('../fonts/LinLibertine.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


$white: #fff;
$dried-blood: #4A0505;
$ocean: #003D43;
$royal-blue: #101D82;
$pine-needle: #0A422B;
$deep-purple: #380B76;
$nuclear: #93ff9b;
$northeast-sky: #5b8dff;
$periwinkle: #98b7ff;

.text-white {
  color: $white;
}

.text-dried-blood {
  color: $dried-blood;
}

.text-ocean {
  color: $ocean;
}

.text-royal-blue {
  color: $royal-blue;
}

.text-pine-needle {
  color: $pine-needle;
}

.text-deep-purple {
  color: $deep-purple;
}

.text-nuclear {
  color: $nuclear;
}

.text-northeast-sky {
  color: $northeast-sky;
}

.text-periwinkle {
  color: $periwinkle;
}
