.text-adjust {
  margin-bottom: -2.5px;
}

.project-info a {
  color: $brand-alt;
}

strong, b {
  font-family: $sans-medium;
  font-style: normal;
  font-weight: normal;
}
p {
  margin: 0 0 25px;
  font-size: 1.125rem;
  strong, b {
    font-family: $sans-medium;
    font-style: normal;
    font-weight: normal;
  }
  & a {
    // text-decoration: underline;
    text-decoration-color: $stone;
    position: relative;
    color: $brand;  
    z-index: 0;
    white-space: initial;
    @media (min-width: 1280px) {
      white-space: nowrap;
    }
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      right: 0;
      bottom: 13px;
      left: 0;
      margin-bottom: -16px;  
      background-image: linear-gradient(
        to right,
          $brand-alt,
          $brand
      );
      z-index: -1;
      transition: opacity 0.5s linear;
      opacity: 0;
    }
    &:hover:after {
      opacity: 1;
    }
  }
}
.wysiwyg {
  max-width: 100%;
  p {
    margin: 0 0 25px;
    font-size: 1.25rem;
    strong, b {
      font-family: $sans-medium;
      font-style: normal;
      font-weight: normal;
    }
  }
  & a {
    // text-decoration: underline;
    text-decoration-color: $stone;
    position: relative;
    color: $brand;  
    z-index: 0;
    white-space: initial;
    @media (min-width: 1280px) {
      // https://github.com/Bellweather-Agency/bellweather-2.0/issues/177
      // white-space: nowrap;
      white-space: normal;
    }
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      right: 0;
      bottom: 13px;
      left: 0;
      margin-bottom: -16px;  
      background-image: linear-gradient(
        to right,
          $brand-alt,
          $brand
      );
      z-index: -1;
      transition: opacity 0.5s linear;
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  strong, b {
    font-family: $sans-medium;
    font-style: normal;
    font-weight: normal;
  }
  ul {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0 1.125em;
    li {
      list-style: outside;
      list-style-position: inside;
      margin-left: 2px;
      margin-bottom: .5em;
    }
  }
  h1, h2, h3, h4, h5 {
    font-family: $sans-medium;
    margin-bottom: 15px;
  }
  td {
    padding-right: 15px;
  }
  img {
    margin-bottom: 25px;
  }
}
