.row {
    margin-left: -15px;
    margin-right: -15px;
    &.no-gutters {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  .col,
  .sm\:col,
  .md\:col,
  .lg\:col,
  .xl\:col,
  .xxl\:col,
  .col-auto,
  .sm\:col-auto,
  .md\:col-auto,
  .lg\:col-auto,
  .xl\:col-auto,
  .xxl\:col-auto,
  .col-1,
  .sm\:col-1,
  .md\:col-1,
  .lg\:col-1,
  .xl\:col-1,
  .xxl\:col-1,
  .col-2,
  .sm\:col-2,
  .md\:col-2,
  .lg\:col-2,
  .xl\:col-2,
  .xxl\:col-2,
  .col-3,
  .sm\:col-3,
  .md\:col-3,
  .lg\:col-3,
  .xl\:col-3,
  .xxl\:col-3,
  .col-4,
  .sm\:col-4,
  .md\:col-4,
  .lg\:col-4,
  .xl\:col-4,
  .xxl\:col-4,
  .col-5,
  .sm\:col-5,
  .md\:col-5,
  .lg\:col-5,
  .xl\:col-5,
  .xxl\:col-5,
  .col-6,
  .sm\:col-6,
  .md\:col-6,
  .lg\:col-6,
  .xl\:col-6,
  .xxl\:col-6,
  .col-7,
  .sm\:col-7,
  .md\:col-7,
  .lg\:col-7,
  .xl\:col-7,
  .xxl\:col-7,
  .col-8,
  .sm\:col-8,
  .md\:col-8,
  .lg\:col-8,
  .xl\:col-8,
  .xxl\:col-8,
  .col-9,
  .sm\:col-9,
  .md\:col-9,
  .lg\:col-9,
  .xl\:col-9,
  .xxl\:col-9,
  .col-10,
  .sm\:col-10,
  .md\:col-10,
  .lg\:col-10,
  .xl\:col-10,
  .xxl\:col-10,
  .col-11,
  .sm\:col-11,
  .md\:col-11,
  .lg\:col-11,
  .xl\:col-11,
  .xxl\:col-11,
  .col-12,
  .sm\:col-12,
  .md\:col-12,
  .lg\:col-12,
  .xl\:col-12,
  .xxl\:col-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  
.container {
  width: 100%;
  max-width: $xxl;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 1681px) {
    max-width: 2400px;
  }
  &.offset {
    @media (min-width: $lg) {
      max-width: 1420px;
      padding-right: 90px;
      padding-left: 90px;
    }
    @media (min-width: 1681px) {
      max-width: 2260px;
      padding-right: 90px;
      padding-left: 90px;
    }
    &.more {
      @media (min-width: $lg) {
        max-width: 1420px;
        padding-right: 180px;
        padding-left: 180px;
      }
      @media (min-width: 1681px) {
        max-width: 2260px;
        padding-right: 90px;
        padding-left: 90px;
      }
    }
  }
  &.narrow {
    max-width: $xl;
  }
  &.wide {
    max-width: $xxl;
  }
  &.no-gutters {
    padding-left: 0;
    padding-right: 0;
  }
}
.container-fluid {
  overflow: hidden;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  &.no-gutters {
    padding-left: 0;
    padding-right: 0;
  }
  &.wide {
    max-width: $xxl;
  }
  // $sm:   640px;
  // $md:   768px;
  // $lg:   992px;
  // $xl:   1140px;
  // $xxl:  1460px;
  &.offset {
    max-width: 100%; // mobile-first
    @media (min-width: $lg) {
      max-width: 75%; // after lg breakpoint
    }
    @media (min-width: $xxl) {
      max-width: 85%; // after xxl breakpoint
    }
    &.more {

    }
  }
}
