@import '/variables';

// ******************************************************
// Here you can define your own custom login style sheet.
// ******************************************************

body.login {
  background: linear-gradient(180deg, $brand-alt 0%, $brand 100%);
  & p#backtoblog a, #nav a {
    text-decoration: none;
    color:#000;
    transition: all .35s;
    &:hover {
      color: $brand-alt;
    }
  }
  div#login {
    h1 {
      a {
        // Login Page logo
        background: url('#{$images}/logo.svg') no-repeat center bottom;
        -webkit-background-size: 84px;
        background-size: 100%;
        color: #444;
        height: 120px;
        fill: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.3em;
        margin: 0 auto 25px;
        padding: 0;
        text-decoration: none;
        width: 66%;
        text-indent: -9999px;
        outline: none;
        overflow: hidden;
        display: block;
      }
    }
  }
}
form#loginform {
  p {
    &.submit {
      input#wp-submit {
        // Submit button
        background: linear-gradient(180deg, $brand-alt 0%, $brand 100%);
        border-color: darken($brand, 5%) darken($brand, 10%) darken($brand, 10%);
        -webkit-box-shadow: 0 1px 0 darken($brand, 10%);
        box-shadow: 0 1px 0 darken($brand, 10%);
        color: #fff;
        text-decoration: none;
        text-shadow: 0 -1px 1px darken($brand, 0%), 1px 0 1px darken($brand, 0%), 0 1px 1px darken($brand, 0%), -1px 0 1px darken($brand, 0%);
      }
    }
  }
}


// Form input and checkbox
input[type="checkbox"],
input[type="text"],
input[type="password"] {
  &:focus {
    border-color: $brand;
    -webkit-box-shadow: 0 0 2px darken($brand, 10%);
    box-shadow: 0 0 2px darken($brand, 10%);
  }
  &:checked:before {
    color: $brand;
  }
}