@import "./breakpoints.scss";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "/variables";

@import "./fonts.scss";

@import "./global.scss";

@import "./utilities.scss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


html, body {
  font-family: $sans;
  background-color: #fff;
}

.bkg-gradient {
  background: linear-gradient(180deg, #fff 0%, $paperback 100%);
}
