@import "./breakpoints.scss";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./variables.scss";

@import "./fonts.scss";

@import "./utilities.scss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


html, body {
  font-family: 'HappyTime';
  background-color: #f5dbdb;
}

.bkg-gradient {
  background: linear-gradient(180deg, #fff 0%, $paperback 100%);
}

.post-content {
  margin: 0 auto;
  max-width: 90%;
  @media (min-width: $md) {
    max-width: 1000px;
  }
  p {
    margin: 20px 0;
  }
  img {
    margin: 50px auto;
  }
}
