.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  &.narrow {
    max-width: $xl;
  }
}


hr {
  background: $primary;
  height: 1px;
  width: 100%;
  &.blocks {
    background: $primary;
    height: 1px;
  }
  &.primary {
    background: $primary;
    height: 1px;
    border: 0;
  }
  &.secondary {
    background: $secondary;
    height: 1px;
    border: 0;
  }
}

iframe {
  min-width: 100%;
}


.z-1 {
  z-index: 1;
}




.full-width-img {
  height: 60vh;
  object-fit: cover;
  object-position: center;
}

.lazyload,
.lazyloading {
  opacity: .0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 1.5s;
}


.chevron-bottom {
  &:before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    top: 7px;
    left: 0;
    position: relative;
    transform: rotate(-45deg);
    vertical-align: top;
  }
}
.chevron-right {
  &:before {
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #000;
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    top: 7px;
    left: 0;
    position: relative;
    transform: rotate(45deg);
    vertical-align: top;
  }
}
.chevron-left {
  &:before {
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #000;
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    top: 7px;
    right: -6px;
    position: relative;
    transform: rotate(-130deg);
    vertical-align: top;
  }
}


.go-top {
  border-radius: 5px;
  background-color: rgb(1,14,27);
  background-color: rgba(1, 14, 27, .7);
  position: fixed;
  width: 45px;
  height: 45px;
  display: block;
  right: 15px;
  bottom: 15px;
  border: none;
  opacity: 0;
  z-index: -1;
  transition: all .4s ease-in;
  &:hover {
    opacity: 1;
    background-color: rgb(1,14,27);
    background-color: rgba(1, 14, 27, .9);
  }
  &.is-active {
    opacity: .8;
    z-index: 4;
  }
}


// Embeds responsive
//
// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.text-xxs {
  font-size: .55rem;
}

.hide-small-desktop {
  @media (max-width: 1460px) and (min-width: $lg) {
    display: none !important;
  }
}

.featured_insight {
  height: auto;
  @media (min-width: $lg) {
    height: 450px;
  }
  @media (min-width: $xl) {
    height: 525px;
  }
}

.insights-fill-height {
  @media (min-width: $lg) {
    display: grid;
    grid-gap: 10.3px;
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
    grid-auto-rows: 10px;
    .insight {
      margin: 0;
      display: grid;
      grid-template-rows: 1fr auto;
    }
  }
}

.insights-top-align {
  @media (min-width: $lg) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      width: calc(100% / 3);
    }
  }
}

.hover-shadow {
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: 1px 1px 2px 3px #eee;
  }
}
